setuptools
wheel
Flask==2.3.3
Flask-CORS==4.0.0
Flask-SQLAlchemy==3.0.5
Flask-Session==0.5.0
python-dotenv==1.0.0
requests==2.31.0
numpy==1.24.3
streamlit
Pillow
Werkzeug==2.3.7
gunicorn==21.2.0
setuptools==70.0.0
wheel==0.43.0
# MongoDB dependencies
pymongo
dnspython
